# Android Studio / IntelliJ
*.iml
.gradle
.idea/
local.properties
.DS_Store

# Build artifacts
build/
app/build/
*.apk
*.aar
*.jar

# Logs
build_log*.txt
.system_generated/

# OS/Temp
/captures
.externalNativeBuild
.cxx
Thumbs.db
